.text {
    font-family: 'Russo One', sans-serif;
    color:#b9b9b9;
}
.text2{
    font-family: 'Russo One', sans-serif;
}
.text3 {
  font-size: small;
  color:#b9b9b9;
  
}
.button {
    border: none;
    outline: none;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    font-family: Roboto, Verdana, Tahoma, sans;
    padding: 12px 16px;
    border-radius: 100px;
    color: rgb(0, 0, 0);
  }
  .button i {
    margin-right: 4px;
  }
  .button + .button {
    margin-left: 6px;
  }
  .button.q{
    background: #b9b9b9;
  }
  .button:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  }
  .button:hover.q {
    background: #b9b9b9;
  }
  .button:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  }
  .button:active.q {
    background: #b9b9b9;
  }


  
  #scroll_top {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1000;
    width: 32px;
    height: 32px;
    background: src="img/kisspng-residenza-le-giare-restaurant-suite-accommodation-5c6cc68308f842.2776100015506325790368.jpg" 50% 50% no-repeat;
    border-radius: 50%;
    opacity: 0.5;
  }
  #scroll_top:hover {
     opacity: 1;
  }



  .back_to_top {
    position: fixed;
    bottom: 100px;
    right: 60px;
    z-index: 9999;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background: #0059ff9f;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 2px;
    display: none;
  }
  
  .back_to_top:hover {
    background: #b9b9b970;
  }
  
  .back_to_top-show {
    display: block;
  }